body{
  font-family: '微軟正黑體';
  text-align:center;
  font-size:12px;
  background-image:url('/homepage/home-background.png');
  background-size: cover;
}

.container{
  width:300px;
  margin: 20px auto;
  background-color: white;
  display:flex;
  flex-flow : column wrap;
  border-radius: 50px;
  padding: 30px;
}



hr{
  width: 100%;
}

/* 按鈕區 */

button{
  background-color:rgb(164, 216, 164);
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size:12px;
}
button:hover{
  background-color:rgb(111, 174, 111);
}


.btn-yellow {
  background-color:rgb(244, 244, 165);
}
.btn-yellow:hover {
  background-color:rgb(255, 200, 0);
}

.btn-red {
  background-color:rgb(244, 185, 165);
}
.btn-red:hover {
  background-color:rgb(248, 144, 144);
}

.vote-click img:hover{
  position: relative;
  cursor: pointer;
  bottom:2px;
}


/* 文字區 */

.mini-text-grey{
  color: grey;
  font-size: 10px;
  letter-spacing:1px
}

.background-red{
  background-color: rgb(237, 183, 183);
  padding: 10px;
  border-radius: 5px;
}

.background-blue{
  background-color: rgb(183, 201, 237);
  padding: 10px;
  border-radius: 5px;
}





/* 首頁區 */

.logo{
  margin: 0 auto;
  cursor: pointer;
}
.logo img{
  width:200px;
}

.pic-box{
  position:relative;
  width:1200px;
  height:1px;
  margin: 20px auto;
}

.pic-welcome{
  width: 250px;
  overflow: hidden;
  position:relative;
  z-index:2;
}

.pic-rocket{
  width: 300px;
  overflow: hidden;
  position:absolute;
  left:8%;
  z-index:2;
}

.pic-star{
  width: 200px;
  overflow: hidden;
  position:absolute;
  left:15%;
  top:250px;
  z-index:2;
}

.pic-balloon{
  width: 180px;
  overflow: hidden;
  position:absolute;
  right:15%;
  top:30px;
  z-index:1;
}

.pic-earth{
  width: 280px;
  overflow: hidden;
  position:absolute;
  top:200px;
  right:10%;
  z-index:1;
}

.pic-bling{
  width: 100px;
  overflow: hidden;
  position:absolute;
  right:5%;
  top:180px;
  z-index:2;
}

/* 房間區 */

.room-logo img{
  width:140px;
  cursor: pointer;
}

.leave-btn img{
  width:18px;
  cursor: pointer;
  position:absolute;
  top:33px;
  right:30px;
}
.leave-btn img:hover{
  width:20px;
}



.onlineUsers {
  background-color: rgb(216, 216, 216);
  border-radius:5px;
  padding: 10px;
  line-height: 30px;
}

.onlineUsers img {
  height:15px;
  position: relative;
  top:3px
}



/* role區 */

.card img{
  height:100px;
  cursor: pointer;
}
.card :hover {
  position: relative;
  bottom:3px;
}

.card-role img{
  height:200px;
}

/* 資訊版 */

.gameInfoBox {
  display: flex;
  justify-content:space-evenly;
  background-color: rgb(233, 232, 232);
  border-radius: 5px;

}

.gameRuleBox {
  text-align: left;
  letter-spacing:2px;
  background-color: rgb(233, 232, 232);
  border-radius: 5px;
  padding:10px 20px 10px 5px;
}



.pic-rocket-800{
  display: none;
}

@media screen and (max-width:900px){

.homePic{
display:none;
}

.pic-rocket-800{
  display: block;
  width: 40px;
  overflow: hidden;
  position:absolute;
  top:0px;
  left:47%;
  z-index:100;
}
}

@media screen and (max-width:350px){
  .pic-box{
  width: 100%;
  }
  .container{
   max-width: 80%;
  }


}